export(find.I2DR)
export(tune.JQL)
export(tune.RJQL)
export(opt.dose)
importFrom(pdist,pdist)
importFrom(stats,optim)
importFrom(caret,createFolds)
importFrom(stats,dist)
importFrom(stats,runif)
importFrom(stats,sd)
importFrom(stats,qnorm)
importFrom(stats,predict)
importFrom(randomForest,randomForest)
